<!DOCTYPE html>
<html>
<head>
    <title>Academic Record Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="home">

  <div class="home-container">
    <h1 class="home-title">Academic Record Management System</h1>
    <p>Manage student academic records efficiently</p>

    <a href="/login">
    <button class="primary-btn">Get Started</button>
    </a>

    <a href="#about" class="secondary-btn">
    Learn More ↓
    </a>

  </div>
  
  <section class="features-section">
    <h2>Key Features of the System</h2>

  <div class="features-grid">
    <div class="feature-card">
      <h3>📊 Academic Records</h3>
      <p>View and manage student academic records in a clear and organized way.</p>
    </div>

    <div class="feature-card">
      <h3>👤 Role-Based Access</h3>
      <p>Different access levels for Admin, Faculty, and Students to ensure proper control.</p>
    </div>

    <div class="feature-card">
      <h3>🔒 Secure Data</h3>
      <p>Stores academic data securely with structured and reliable record management.</p>
    </div>
  </div>
  </section>

  <div class="about-section">
    <h2>About the System</h2>
    <p>
      The Academic Record Management System is a web-based application designed to manage student academic records in an efficient and organized manner.
      The system allows administrators and faculty members to manage student details, courses, and marks, while students can view their academic records.
      It provides role-based access to ensure proper control and secure handling of academic data.
    </p>
  </div>

  <section id="about" class="about-section">
    <h2>Done By</h2>
    <p>
        This project is developed by Tushar Som, a student of BCA 3rd Year, as part of the final year project.
        The project aims to simplify the management of academic records for students, faculty, and administrators..
    </p>
  </section>

</body>
</html>
